#================ Input Parameters ================
DepthType                      1                        # 0...Depth from camera, 1...Depth from the origin of 3D space
SourceWidth                    1024                     # Input frame width
SourceHeight                   768                      # Input frame height
StartFrame                     0                        # Starting frame #
TotalNumberOfFrames            100              # Total number of input frames
LeftNearestDepthValue          42              # Nearest depth value of left image from camera or the origin of 3D space
LeftFarthestDepthValue         130             # Farthest depth value of left image from camera or the origin of 3D space
RightNearestDepthValue         42              # Nearest depth value of right image from camera or the origin of 3D space
RightFarthestDepthValue        130             # Farthest depth value of right image from camera or the origin of 3D space
CameraParameterFile            /imatge/mpomar/work/viewsyn/calibParams-ballet_vsrs.txt # Name of text file which includes real and virtual camera parameters
LeftCameraName                 1              # Name of real left camera
VirtualCameraName              2              # Name of virtual camera
RightCameraName                3              # Name of real right camera
LeftViewImageName              /imatge/mpomar/seq/3dtv/ballet/ballet-color_1.yuv      # Name of left input video
RightViewImageName             /imatge/mpomar/seq/3dtv/ballet/ballet-color_3.yuv      # Name of right input video
LeftDepthMapName               /imatge/mpomar/seq/3dtv/ballet/ballet-depth420_1.yuv   # Name of left depth map video
RightDepthMapName              /imatge/mpomar/seq/3dtv/ballet/ballet-depth420_3.yuv   # Name of right depth map video
OutputVirtualViewImageName     /imatge/mpomar/work/depthestimation/ballet_out.yuv    # Name of output virtual view video

ColorSpace                     0                        # 0...YUV, 1...RGB
Precision                      2                        # 1...Integer-pel, 2...Half-pel, 4...Quater-pel
Filter                         1                        # 0...(Bi)-linear, 1...(Bi)-Cubic, 2...MPEG-4 AVC

BoundaryNoiseRemoval           0                      # Boundary Noise Removal: Updated By GIST

SynthesisMode                  0                        # 0...General, 1...1D parallel

#---- General mode ------
#ViewBlending                   1                        # 0...Blend left and right images, 1...Not Blend

#---- 1D mode      ------
#---- In this example, all parameters below are commented and default values will be taken ----
#SplattingOption       2                 # 0: disable; 1: Enable for all pixels; 2: Enable only for boundary pixels. Default: 2
#BoundaryGrowth        40                # A parameter to enlarge the boundary area with SplattingOption = 2. Default: 40
#MergingOption         2                 # 0: Z-buffer only; 1: Averaging only; 2: Adaptive merging using Z-buffer and averaging. #Default: 2
#DepthThreshold        75                # A threshold is only used with MergingOption = 2. Range: 0 ~ 255. Default: 75
#HoleCountThreshold    30                # A threshold is only used with MergingOption = 2. Range: 0 ~ 49. Default: 30
